<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Xpress-Movie</title>
    <link rel="stylesheet" href="/public/css/index.css">
     
</head>

<body>
<div class="wrapper">
  <header>
  <%- include('partials/header') %>
  </header>
 <main class="content">
   <%- include('component/profile') %>

    <!-- section admin -->
    <% if (user.role=='admin' ) { %>
      <%- include('component/admin_films') %>
      <% } else { %>
        <!-- Abonne film list -->
        <%- include('component/films_cards') %>
      <% } %>
  </main>
 
</div>

<%- include('partials/footer', {year: 2025}) %>
</body>

</html>