  <%- include('partials/head') %>
  <div class="wrapper">
 <%-include('partials/header') %>
 <main class="content">
   <div class="  container p-1 w-100 mt-5 border rounded bg-dark justify-content-center align-items-center">

    <h2>Liste de Fovaries</h2>
    </div>
 
  <div class=" container p-1 w-100 mt-5 border rounded bg-dark justify-content-center align-items-center"  style=" color: white;">
    

    <% if (user == null) { %>
    <h2>Connectez-vous pour voir votre liste de favoris</h2>
    <% } 
     else { %>
   <div class="row m-3">
  <% films.forEach(f => { %>
    <% let link=`admin/favori/delete/${f.id}` %>
    <div class="col-md-3 mb-4"> 
      <div class="card h-100" style="width: 18rem;">
        <img src="/public/assets/<%= f.image %>" class="card-img-top" alt="film" height="200px">
        <div class="card-body">
          <h5 class="card-title"><%= f.genre %></h5>
          <h5 class="card-title"><%= f.titre %></h5>
          <h5 class="card-title"><%= new Date(f.date_sortie).toLocaleDateString() %></h5>
          <p class="card-text"><%= f.description %></p>
          <a href="<%= link %>" class="btn btn-primary">Supprimer</a>
        </div>
      </div>
    </div>
  <% }) %>
</div>

    <%}%>
</div>
 </main>
  </div>
 

    <footer>
    <%-include('partials/footer', {year: 2025}) %>
  </footer>
</body>
</html>